<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513612544325-p3gigrrqht5ehc9ehvbi3kq43bkl5b0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513612544325-p3gigrrqht5ehc9ehvbi3kq43bkl5b0s</string>
	<key>API_KEY</key>
	<string>AIzaSyDns5Qe8hYc_o8o5Gxhx4c6JepVqgRk-R0</string>
	<key>GCM_SENDER_ID</key>
	<string>513612544325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihirthakkar.TechnicalAssessmentTest</string>
	<key>PROJECT_ID</key>
	<string>technicalassessmenttest</string>
	<key>STORAGE_BUCKET</key>
	<string>technicalassessmenttest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513612544325:ios:5dbc2b19912292b6c3262c</string>
</dict>
</plist>